.footer_img_circle{
	width: 60px;
	height: 60px;
	border: 1px solid;
}
.wrapper{
	margin-top: 30px;
	min-height: 500px;
	border: 1px solid black;
	overflow: hidden;
	header{
		.header-top{
			min-height: 100px;
			.logo{
				font-size: 42px;
				font-weight: bold;
				text-align: center;
				p{
					text-align: center;
					font-size: 12px;
					font-weight: 300;
				}
			}
			.call{
				.img-circle{
					background: #fff;
					width: 60px;
					height: 60px;
					border: 1px solid;
					margin: 10px;
				}
				.call-injiner{
					border: 1px solid;
					width: 230px;
				    position: relative;
				    left: 60px;
				    bottom: 50px;
				}
			}
			.search{
				text-align: center;
				a{
					font-size: 20px;
				}
				input{
					width: 100%;
					height: 40px;
				}	
			}
			
		}
		.header-menu{
			.container{
				.collapse{
					border: 1px solid;
					.nav li{
						font-size: 26px;
						border-right: 1px solid;
						&:last-child{
							border: none;
						}
					}
				}
			}
		}
	}
	.mega-content{
			.row{
				.photo_and_table{
					.big_photo{
						
					}
					.first_small_photo{
						margin: 5px 35px 0 -10px;
					}
					.small_photo{
						margin: 5px -10px 0 -15px;
					}
					.table-striped{
						line-height: 50px;
					}
				}
			}
	}
	.thumbnail{
		.button_on_buy{
			line-height: 0.5;
		}
	}	
	.footer{
		.row{
			.footer_content{
				margin-left: 20px;
			}	
			.last-element-footer{
				img{
					.img-circle{
						background: #fff;
						width: 60px;
						height: 60px;
						border: 1px solid;
					}
				}
			}
		}
	}
}